.roadmap {
    padding: 150px 0;
    background: #F3F3F3;
}

.roadmap img.roadMapTxt {
    display: block;
    margin-bottom: 100px;
    max-height: 40px;
}

.roadmap-wrp {
    display: block;
    position: relative;
    max-width: 90%;
    z-index: 2;
}
.middle_section .videoBackg img.react-parallax-bgimage {
    height: 100% !important;
    object-fit: cover;
    top: 40px;
    width: 100% !important;
}

.roadmap-blk-right-wrp h4 {
    font-size: 18px;
}

.roadmap-blk-right-wrp p {
    font-size: 13px;
}

.roadmap-wrp:before {
    content: "";
    position: absolute;
    top: 0;
    left: 12px;
    height: 80%;
    width: 1px;
    border: 1px dotted #dbdbdb;
    background: #bbbbbb;
    z-index: -1;
}
.roadmap-blk {
    display: flex;
    align-items: flex-start;
    position: relative;
    margin-bottom: 30px;
}

.roadmap-blk-left-wrp {
    display: flex;
    align-items: flex-start;
    position: relative;
    margin-right: 40px;
}

.roadmap-blk-left-wrp img {
    width: 25px !important;
    margin-right: 15px;
    display: block;
    background: #F3F3F3;
}

.roadmap-blk-left-wrp h4 {
    margin: 0;
    font-weight: 900;
    width: 100px;
}

.roadmap-blk-left-wrp h4 small {
    display: block;
    font-size: 10px;
    text-transform: uppercase;
    margin-right: 20px;
    font-weight: 600;
}

.roadmap-blk-left-wrp:after {
    content: "";
    position: absolute;
    width: 20px;
    height: 3px;
    background: black;
    right: -25px;
    top: 10px;
}

.roadmap-blk-right-wrp p {
    margin: 0;
    font-weight: 100;
}

.roadmap-wrp > p.endNotes {
    margin: 0;
    margin-top: 70px;
    margin-left: 155px;
    font-weight: 100;
}