/* Big screen :1200px. */
@media (min-width: 1200px) and (max-width: 1500px) {


}


/* Normal screen :992px. */
@media (min-width: 992px) and (max-width: 1200px) {


}

 
/* Tablet screen :768px. */
@media (min-width: 768px) and (max-width: 991px) {
    .tech-blk {
        margin-bottom: 30px;
    }
    .genitor-blk{
        flex: 0 0 30%;
    }
    .faq {
        padding: 100px 0;
    }

    .metawear img.full-width {
        max-width: 85%; 
    }
    .middle_section .videoBackg { 
        height: 500px;
        top: 80px;
    }
}

 
/* small screen :320px. */
@media (max-width: 767px) {
    body{
        font-size: 14px;
    }
    .container-fluid {
        padding: 0 15px;
    }
    .header-logo {
        max-width: 160px;
    }
    .react-parallax.header_img > img {
        height: 100% !IMPORTANT;
    }
    .react-parallax.metagenSquads img {
        height: 280px !important;  
    }
    .centeredTitle img {
        max-width: 240px;
    }
    .leftModeTitle{
        padding-left: 30px !important;
    }
    .leftModeTitle > img{
        left: 0px;
    }
    .leftModeTitle h4{
        font-size: 30px;
    }
    .metagen > img {
        max-width: 100% !important;
        left: 0;
    }
    .centeredTitle h4 {
        font-size: 20px;
    }
    
    .metatech-wrp h3 {
        font-size: 28px;
    }
    .genitor-blk {
        width: 48%;
        margin-top: 45px;
    }
    .middle_section .videoBackg img{
        object-fit: cover;
        object-position: 70%;
        top: 80px;
    } 
    .kidsHang-top .leftModeTitle {
        margin: 101px 0;
    }
    .kidsHang-bottom {
        padding: 85px 0;
    }
    .roadmap {
        padding: 80px 0;
    }
    .roadmap-blk {
        flex-direction: column;
        margin-bottom: 50px;
    }
    
    .roadmap-blk-left-wrp {
        margin-bottom: 20px;
    }
    
    .roadmap-wrp {
        max-width: 100%;
    }
    
     h4 {
        font-size: 20px;
    }
    .roadmap-blk-left-wrp:after{
        top: 20px;
    }
    .roadmap-wrp > p.endNotes {
        margin: auto;
        text-align: center;
    }
    .genitors {
        padding: 70px 0;
    }
    .allBlks {
        align-items: center;
        justify-content: center;
    }
    
    .tech-blk {
        margin: 0 0 30px;
    }
    
    .allBlks > p {
        text-align: center;
    }
    
    .metatech {
        padding: 70px 0;
    }
    .faq {
        padding: 70px 0;
    }
    .faq img.faqTxt {
        margin-bottom: 35px;
    }
    .footer {
        padding: 35px 0;
    }
    .footer-wrp h3 span{
        font-size: 22px;
        max-width: 200px;
        display: block;
        margin: auto;
    }
    .footer-wrp h3 small {
        font-size: 11px;
    }
    .metawear img.full-width {
        max-width: 90%; 
    }
    .roadmap-blk-right-wrp {
        padding-left: 35px;
    }
    .roadmap-blk-left-wrp img { 
        margin-right: 10px; 
    }


}
 
/* Large Mobile screen :480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {
.container {width:450px}
 
}
