.kidsHang {
    position: relative;
    z-index: 2;
}

.kidsHang > .backg {
    position: absolute !important;
    top: 0;
    left: 0;
    width: 100%;
    height: 60% !important;
    z-index: -1;
}
.univerSection  img.react-parallax-bgimage {
    display: none;
}
.kidsHang-top {position: relative;}

.kidsHang-top .leftModeTitle {
    margin: 200px 0;
}

.middle_section {
    display: block;
    position: relative;
    width: 100%; 
}

.middle_section .videoBackg {
    display: block;
    position: relative;
    width: 100%;
    height: 800px; 
}
.middle_section video {
    display: block;
    width: 100%;
    height: 800px;
    object-fit: cover;
}
.middle_section button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: no-repeat;
    border: none;
    outline: none;
    transition: .3s;
}
.middle_section button svg {
    width: 45px;
    height: 45px;
}
.middle_section button:hover {
    opacity: .5;
}
.middle_section .videoBackg img.react-parallax-bgimage {
    height: 150% !important;
    object-fit: cover;
    top: 0;
    top: 40px;
    width: 100% !important;
}
.kidsHang > .backg > img.react-parallax-bgimage {
    height: 100% !important;
    object-fit: cover;
}
.testmacker {
    display: block;
    width: 100%;
}

.testmacker img {
    height: 100%;
}

.kidsHang-bottom {
    position: relative;
    padding: 300px 0;
}

.kidsHang-bottom > .backg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: -1;
    max-height: 70%;
}

.react-parallax.metagenSquads img.react-parallax-bgimage {
    display: none;
}
.react-parallax.metagenSquads img {
    height: 800px !important; 
    display: block; 
    object-fit: cover;
}
.react-parallax.metagenSquads .react-parallax-content {
    display: none;
}
.react-parallax.metagenSquads{
    overflow: unset !important;
}
.videoPopup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background: #000000c4;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

.videoPopup > div {
    position: relative;
}

.videoPopup > div button {
    position: absolute;
    top: -45px;
    right: 0;
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: red;
    color: #fff;
}







@media only screen and (min-width:768px) and (max-width:991px) { 
    .middle_section .videoBackg { 
        height: 480px; 
    }
    .middle_section video { 
        height: 480px; 
    }
} 

@media only screen and (max-width:767px) { 
    .middle_section .videoBackg { 
        height:280px; 
    }
    .middle_section video { 
        height: 280px; 
    }
}